databases:
  - name: shsm2ndproject
    databaseName: shsm2ndproject
    user: shsm2ndproject
    region: singapore

services:
  - type: web
    name: shsm2ndproject
    runtime: python
    region: singapore
    buildCommand: "./build.sh"
    startCommand: "gunicorn misite.wsgi:application"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: shsm2ndproject
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
